@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rootify!</h1>
    <p>This application collects two numbers, calculates their squareroots and compare them to know which has a higher square root</p>
</div>
